<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Git Pub App</title>
  </head>
  <body>
    <style>
        body {
            color: blanchedalmond;
            background-color: steelblue;
            text-transform: capitalize;
        }
    </style>
    <h1>At foo bar</h1>
    <h2><%= drinks.name %></h2>
    <img src="<%=image%>">
    <h3>$<%= drinks.price %></h3>
    <a href="/drinks/">BACK</a>
  </body>
</html>